<!DOCTYPE html>
<html>
<head lang="en">

    <title>Openlayers demo</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="jumbotron">
        <div class="row text-center">
            <div id="map" class="map" tabindex="0"></div>
         </div>
    </div>
    
</div>
     
    <script>
      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        target: 'map',
        controls: ol.control.defaults({
          attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
            collapsible: false
          })
        }),
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

     </script>
</body>
</html>