<!DOCTYPE html>
<html>
<head lang="en">

    <title>Polygon Demo</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<h2>polygons</h2>    
    <div id="map" class="map" tabindex="0"></div>
    
</div>

<script src="js/styles.js" />
<script src="js/projections.js" />
     
 <script>
      ol.proj.proj4.register(proj4);

      var polygonVectorLayer = new ol.layer.Vector({
          source: new ol.source.Vector({
        	  format: new ol.format.GeoJSON(),
        	  url: "/polygondata",
          }),
          style: styleFunction
      });

      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          polygonVectorLayer
        ],
        target: 'map',
        controls: ol.control.defaults({
          attributionOptions: ({
            collapsible: false
          })
        }),
        view: new ol.View({
          center: [15000000, 4700000],
          zoom: 5
        })
      });
    </script>
</body>
</html>